@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  /* matn rangi ham */
  transition: background-color 5000s ease-in-out 0s !important;
}

@theme inline {
  --color-mainColor: #4fb477;
  --color-textColor: #2f2f2f;
  --color-borderColor: #f2f2f2;
  --color-hoverColor: #f9fafb;
  --color-dolphin: #6a6e78;
  --color-statusBg: #EDF9F1;
  --color-statusRed: #FFEDED;
  --color-plasterColor: #eaeaea;
  --color-dangerColor: #ec5252;
  --color-orochimaru: #d9d9d9;
  --color-red: #ff0000;
  --color-iron: #6e6e6e;
  --color-dustColor: #b5b7bb08;
  --color-pagination: #f3faf5;
  --color-mounSnow: #e9e9eb;
  --color-accordionText: #f8b133;
  --color-notificationColor: #f7fafc;
  --color-inProgressColor: #f8b13312;
  --color-completedColor: #4fb4770d;
  --color-nitrogenColor: #f3f3f4;
  --breakpoint-xs: 340px;
  --breakpoint-sm: 540px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1620px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f9fafb;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #f2f2f2oklch(0.922 0 0);
  --input: #e0e0e0;
  --ring: #4fb477;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --scrollbar-color: #4fb477 white;
  --scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-block: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

* {
  scrollbar-color: #4fb477 rgba(106, 110, 120, 0.158);
  scrollbar-width: thin;
}

.checkbox {
  width: 100%;
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox label {
  position: relative;
}

.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #eaeaea;
}

.checkbox label:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #7bbe72;
  border-left: 2px solid #7bbe72;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 6px;
  left: 5px;
}

.checkbox input[type="checkbox"]:checked ~ label::before {
  border-color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 30px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox label span {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

@layer base {
  body {
    @apply bg-background font-poppins;
  }

  button:not([disabled]) {
    @apply cursor-pointer;
  }

  .auth-title {
    @apply font-semibold text-[25px] 2xl:text-[35px] text-textColor mb-[30px];
  }

  .auth-label {
    @apply !font-normal !text-textColor;
  }

  .page-title {
    @apply font-medium text-[36px] text-textColor;
  }

  .profile-label {
    @apply font-normal text-sm text-textColor;
  }

  .profile-name {
    @apply text-base text-dolphin font-medium;
  }

  .skeleton-puls {
    @apply bg-[#eee] bg-[linear-gradient(90deg,#eee,#f5f5f5,#eee)] bg-[200px_100%] bg-no-repeat inline-block leading-none animate-[skeleton-animation_1.5s_ease-in-out_infinite];
  }
  @keyframes skeleton-animation {
    0% {
      background-position: -200px 0;
    }

    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
}

